<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="worksheet" connectionString="Server=localhost;Database=WorkSheet;Uid=worksheet;Pwd=nagggyontitkos;"/>-->
    <add name="worksheet" connectionString="Server=localhost;Database=WorkSheet;Uid=root;Pwd=;"/>
  </connectionStrings>
</configuration>